<%- include('assembly/header') %>

  <%- include('assembly/navigation', { isShowItem: 'showItem', isHomePage: 'homePage' }) %>

  <div id="article" class="hideItem"></div>

<%- include('assembly/footer') %>