<div id="navigation" class="<%= isHomePage %>">
  <div id="title" class="<%= isShowItem %>">
    <h1>Tang Wei&nbsp;·&nbsp;Personal Website</h1>
  </div>
  <div id="index">
    <span id="home">Home</span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
    <span id="blog">Blog</span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
    <span id="photo" title="not ready">Photo</span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
    <span id="about">About</span>
  </div>
  <span id="bkgImgStore"></span>

</div>